<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" *ngFor="let item of listaUsuarios">
      <div class="card">
        <img [src]="item.avatar" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{item.first_name}} {{item.last_name}}</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
          <div class="card-text">
            <span class="text-muted">
                ID : {{item.id}}
            </span>
          </div>
        </div>
      </div>
    </div>
</div>